<div>
  <div class="home_jumbotron no-select">
    <p class="home_jumbotron_text">Testing.</p>
    </div>
  </div>

  <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/basics">Blog</a>
    <a href="/build">Projects</a>
    <a href="/ladder">Contact</a>
  </div>
</div>