{{!-- For complete references, see Read Me (github) from the front page. --}}

<div class="time-line-div">

	<div class="center-div">
		<h2 id="time-line-header">POE's Development Timeline</h2>
	</div>
	

	<ul>
		<li class="sword">
			<span>
				<p class="entries">2007 - Development began by a small group of developers based New Zealand.</p>
			</span> 
		</li>

		<li class="sword">
			<span>
				<p class="entries">2010 - The game was publicly annouced and alpha testing begun.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2011 - Closed beta became available to the public, although with a fixed cost. </p>
			</span>
		</li>

		<li class="sword">
			<span>
				<p class="entries">2013 - Open beta announced and the game became free to play for all players. The game also became available on the Steam platform.</p>
			</span>
		</li> 
		
		<li class="sword"> 
			<span>
				<p class="entries">2014 - Sacrifice of the Vaal, the first expansion was released.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2014 - Forsaken Masters, the second expansion was released, which included additional item crafting options from various new NPCs named Masters.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2015 - The Awakening, the third expansion was released, an additional Act 4 for the story campaign was introduced.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2016 - Ascendancy, the fourth expansion was released, introducing further character job advancement through the completion of labyrinth Trials.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2016 - Atlas of Worlds, the fifth expansion was announced, allowing players more map variety, mini bosses, and the Shaper.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2017 - Fall of Oriath, the sixth expansion was implemented, an additional six Acts included into the core game, vastly changing the dynamics of the game's storyline.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2017 - War for the Atlas, the seventh expansion - new game mechanics including Bestiary crafting, Incursion temple, and Delving added as permanent mechanics to the game.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2018 - Betrayal, which was the eigth expansion and first of the year. Several leagues (i.e. seasons) announced, including Synthesis, Betrayal, Legion, and Blight.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2019 - Conquerors of the Atlas, the ninth expansion. The previous Atlas was reinvented completely. The first ExileCon was hosted in New Zealand, where the sequel, Path of Exile 2 was introduced.</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2020 - Delirium, the tenth expansion to the game, introducing the  "sequel" of the Breach league (aka Breach 2.0)</p>
			</span>
		</li>

		<li class="sword"> 
			<span>
				<p class="entries">2020 - Harvest, the eleventh expansion and latest expansion. Introducing the Harvest league (aka farmer league) and Harvest crafting mechanic.</p>
			</span>
		</li>

	</ul>

	<div class="center-div">
		<div class="sources">
			<a href="https://en.wikipedia.org/wiki/Path_of_Exile">Source</a>
		</div>
	</div>
</div>


		

	
