{{!-- For complete references, see Read Me (github) from the front page. --}}

<script type="text/javascript" src="/JS/subscribe.js" defer></script>

<div class="contact-div">
	<a href="https://github.com/kuckikirukia1/CS290-Project">
		<img border="0" src='/img/icons8-github-64.png' width="64" height="64">
	</a>
</div>


<div class="myForms">

	<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="POST">
		<fieldset>
			<legend>Leave a comment!</legend>

			<div class="addBorder">
				<label>Name:
					<input type="text" name="user_name" size="25" maxlength="50">
				</label>
			</div>
			<br>

			<div class="addBorder">
			<label>E-mail:
				<input type="email" name="numerical_input" size="25" maxlength="50"></label>
			</div>
			<br>

			<div class="addBorder">
				<label>Comments:</label>
				<br>
				<textarea rows="5" cols="30"></textarea>
			</div>

			<br>

				<p>
					<input type="submit">
				</p>
		</fieldset>
	</form>
</div>

<div class="scribe-form">
	<form>
		<fieldset>
			<legend>Subscribe for news!</legend>

			<div class="addBorder">
				<label>Name:
					<input type="text" id="name" size="25" maxlength="50">
				</label>
			</div>

			<div class="addBorder">
				<label>Class:</label>

				<select id="class">
					<option value="marauder">Marauder</option>
					<option value="ranger">Ranger</option>
					<option value="witch">Witch</option>
					<option value="duelist">Duelist</option>
					<option value="templar">Templar</option>
					<option value="shadow">Shadow</option>
					<option value="scion">Scion</option>
				</select>
			</div>

			<div class="addBorder">
			<label>Server:
				<select id="region">
					<option value="North America">North America</option>
					<option value="South America">South America</option>
					<option value="Europe">Europe</option>
					<option value="Middle East">Middle East</option>
					<option value="China">China</option>
					<option value="Japan">Japan</option>
					<option value="Taiwan">Taiwan</option>
					<option value="Russia">Russia</option>

				</select>
			</div>

			<br>

				<p>
					<input type="submit" id="subscribesubmit">
				</p>

		</fieldset>
	</form>
</div>


<div id="subscribers-box">
	<table>
		<tr class="ladderText">
			<th>User:</th>
			<th>Class:</th>
			<th>Server:</th>
		</tr>

			<tbody class="addColor">
				<tr class="ladderText">
					<td id="nameback"></td>
					<td id="classback"></td>
					<td id="regionback"></td>
				</tr>
			</tbody>
	</table>
</div>

<div class="contact-wallpaper"></div>