<div class="home-wallpaper"></div>

<div class="container no-select">
  <div class="jumbotron jumbo-container">
    <h1 class="display-1"><strong>Daniel Yu</strong></h1>
    <p class="test">Computer Science Student</p> 
    <hr class="my-4">
  </div>
</div>

<!--   <div home-div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <a href="https://github.com/yu-daniel"> 
      <img src='/img/github.png' width="64" height="64">
    </a>
    <a href="mailto:yudan@oregonstate.edu"> 
      <img src='/img/email.png' width="64" height="64">
    </a>
  </div> -->
<a href="mailto:yudan@oregonstate.edu"> 
  <img src='/img/email.png' width="64" height="64">
</a>

<div class="home-wallpaper"></div>
