<div class="home-wallpaper"></div>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 skip-new-line">Hi, I'm Daniel.</h1>
    <hr class="my-4 skip-new-line">
    <p class="lead">And welcome to my hideout!</p> 
  </div>
</div>


<!--   <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div>
  <div class="home_jumbotron no-select">
    <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p>
    </div>
  </div>

  <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<div class="home-wallpaper"></div>
