<div class="container">
	<button type="button" class="btn btn-dark">Home</button>
	<button type="button" class="btn btn-dark">Blog</button>
	<button type="button" class="btn btn-dark">Projects</button>
	<button type="button" class="btn btn-dark">Contact</button>
</div>

<!-- <div>
  <div class="jumbotron">
      <h1><i class="fa fa-gamepad" aria-hidden="true"></i>Path of Exile Fansite </h1>
      <p>No life since 2013~</p> 
  </div>


  <div class="home-div">
    <a href="/">Home</a>
    <a href="/basics">Basics</a>
    <a href="/build">Build</a>
    <a href="/ladder">Ladder</a>
    <a href="/contact">Contact</a>
    <a href="https://www.pathofexile.com/">Sources</a>

	<div class="container">
		<button type="button" class="btn btn-dark">Home</button>
		<button type="button" class="btn btn-dark">Blog</button>
		<button type="button" class="btn btn-dark">Projects</button>
		<button type="button" class="btn btn-dark">Contact</button>
	</div>

    <div>
      <a href="https://github.com/kuckikirukia1/CS290-Project">Read Me</a>
      <br>
      <a href="https://github.com/kuckikirukia1/CS290-Project"> 
        <img src='/img/C_Hat02.png' width="64" height="64">
      </a>
    </div>

  </div>
</div> -->