<div class="home-wallpaper"></div>

<div>
  <div class="home_jumbotron no-select">
    <h1 class="home_jumbotron_text">Hi, I'm Daniel.</h1>
    <h3 class="home_jumbotron_text1">And welcome to my hideout!</h3>
<!--     <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p> -->
    </div>
  </div>

<!--   <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div>
  <div class="home_jumbotron no-select">
    <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p>
    </div>
  </div>

  <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi, I'm Daniel.</h1>
    <p class="lead">And welcome to my hideout!</p>
  </div>
</div> -->





<div class="home-wallpaper"></div>
