<div class="home-wallpaper"></div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>



<div>
  <div class="home_jumbotron no-select">
    <h1 class="home_jumbotron_text">Hi, I'm Daniel.</h1>
    <h3 class="home_jumbotron_text1">And welcome to my hideout!</h3>
<!--     <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p> -->
    </div>
  </div>

<!--   <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div>
  <div class="home_jumbotron no-select">
    <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p>
    </div>
  </div>

  <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi, I'm Daniel.</h1>
    <p class="lead">And welcome to my hideout!</p>
  </div>
</div> -->





<div class="home-wallpaper"></div>
