<div class="home-wallpaper"></div>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> IMGS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>



<div>
  <div class="home_jumbotron no-select">
    <h1 class="home_jumbotron_text">Hi, I'm Daniel.</h1>
    <h3 class="home_jumbotron_text1">And welcome to my hideout!</h3>
<!--     <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p> -->
    </div>
  </div>

<!--   <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div>
  <div class="home_jumbotron no-select">
    <p class="home_jumbotron_text">Hi, I'm Daniel.</p>
    <p class="home_jumbotron_text1">And welcome to my hideout!</p>
    </div>
  </div>

  <div class="home-div no-select">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">Contact</a>
    <a href="/contact">Contact</a>
  </div>
</div> -->

<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi, I'm Daniel.</h1>
    <p class="lead">And welcome to my hideout!</p>
  </div>
</div> -->





<div class="home-wallpaper"></div>
