<div class="home-wallpaper"></div>

<div class="container no-select">
  <div class="jumbotron jumbo-container">
    <h1 class="display-1"><strong>Daniel Yu</strong></h1>
    <p class="test">Computer Science Student</p> 
    <hr class="my-4">
  </div>

  <div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
  </div>


</div>



<div class="home-wallpaper"></div>
