<div class="home-wallpaper"></div>

<div class="container no-select">
  <div class="jumbotron jumbo-container">
    <h1 class="display-1 content-white">Daniel Yu</h1>
    <h3 class="lead content-white">Computer Science Student</h3> 
    <hr class="my-4">
  </div>
</div>

<div class="home-wallpaper"></div>
