

<div>

  <div class="home_jumbotron" class=".no-select">
    <p class="home_jumbotron_text">Hi. I'm Daniel.</p>
    <p class="home_jumbotron_text1">Welcome to my hideout!</p>
    </div>
  </div>


  <div class="home-div">
    <a href="/">Home</a>
    <a href="/basics">Basics</a>
    <a href="/build">Build</a>
    <a href="/ladder">Ladder</a>
    <a href="/contact">Contact</a>
    <a href="https://www.pathofexile.com/">Sources</a>

    <div>
      <a href="https://github.com/kuckikirukia1/CS290-Project">Read Me</a>
      <br>
      <a href="https://github.com/kuckikirukia1/CS290-Project"> 
        <img src='/img/C_Hat02.png' width="64" height="64">
      </a>
    </div>
  </div>
</div>