<div class="build-wallpaper"></div>


<div class="projects no-select">
	<p class="project-title">My Projects - Check them out!</p>

	<!-- <img src="http://i.imgur.com/qK42fUu.jpg"> -->
	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>

	  	<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

<!-- 	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
	 	<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
	 	<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
	 	<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div> -->


</div>


<div class="build-wallpaper"></div>