<div class="build-wallpaper"></div>

<p class="project-title">My Projects - Check them out!</p>
<div class="row projects no-select">
	

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image" style="width:100%"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-1">
	    	<div class="text">Light Up</div>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image" style="width:100%"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-2">
	    	<div class="text">Gess</div>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image" style="width:100%"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-3">
	    	<div class="text">DSTracker</div>
	  	</div>
    </div>
	
    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image" style="width:100%"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-4">
	    	<div class="text">Macro Machine</div>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image" style="width:100%"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-5">
	    	<div class="text">PoE Fansite</div>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image" style="width:100%"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-6">
	    	<div class="text">Personal Website</div>
	  	</div>
    </div>

</div>

