<div class="build-wallpaper"></div>

<p class="project-title no-select">My Projects - Check them out!</p>


<div class="container project-container">
	<div class="card" style="width:400px">
    	<img class="card-img-top" src="/img/lightup.png" alt="Card image" style="width:100%">
	    <div class="card-body">
			<h4 class="card-title">Light Up</h4>
			<p class="card-text">Light Up is a Japanese logical puzzle.</p>
			<a href="#" class="btn btn-primary">Details</a>
	    </div>
    </div>

  

</div>


<div class="build-wallpaper"></div>