<div class="build-wallpaper"></div>

<p class="project-title">My Projects - Check them out!</p>
<div class="row projects no-select">
	

	<!-- <img src="http://i.imgur.com/qK42fUu.jpg"> -->
	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>
	
    <div>
      <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-1.jpg" data-lightbox="example-1"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-1.jpg" alt="image-1" /></a>
      <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-2.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-2.jpg" alt="image-1"/></a>
    </div>

</div>

















</div>


<div class="build-wallpaper"></div>