<div class="build-wallpaper"></div>

<!-- <p class="project-title no-select">My Projects - Check them out!</p> -->

<div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1444090542259-0af8fa96557e?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1434543177303-ef2cc7707e0d?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1436262513933-a0b06755c784?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1439396087961-98bc12c21176?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
      </div>
    </div>
  </div>
</div>


<!-- <div class="row projects no-select">
	
    <div class="container">
	    <img src="/img/lightup.png" class="image project-img"></a>
	  	<div class="middle">
	  		<a href="/img/lightup2.png" data-lightbox="example-1">
	    	<div class="text">
	    		<p class="ex1">Light Up</p>
	    		<p class="ex2">Japanese logical puzzle</p>
	    	</div></a>
	  	</div>
    </div> -->

<!--     <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image project-img"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-2">
	    	<div class="text">Gess</div></a>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image project-img"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-3">
	    	<div class="text">DSTracker</div></a>
	  	</div>
    </div>
	
    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image project-img"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-4">
	    	<div class="text">Macro Machine</div></a>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image project-img"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-5">
	    	<div class="text">PoE Fansite</div></a>
	  	</div>
    </div>

    <div class="container">
	    <img src="http://i.imgur.com/qK42fUu.jpg" class="image project-img"></a>
	  	<div class="middle">
	  		<a href="http://i.imgur.com/qK42fUu.jpg" data-lightbox="example-6">
	    	<div class="text">Personal Website</div></a>
	  	</div>
    </div> -->

</div>

<div class="build-wallpaper"></div>