<div class="build-wallpaper"></div>

<p class="project-title">My Projects - Check them out!</p>
<div class="row projects no-select">
	

	<!-- <img src="http://i.imgur.com/qK42fUu.jpg"> -->
	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>

	<div class="container">
		<img src="http://i.imgur.com/qK42fUu.jpg" alt="Avatar" class="image" style="width:100%">
		<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
	</div>
	
    <div class="container">
	    <a href="http://i.imgur.com/qK42fUu.jpg"><img src="http://i.imgur.com/qK42fUu.jpg" class="image" alt="image-1" style="width:100%"></a>
	  	<div class="middle">
	    	<div class="text">John Doe</div>
	  	</div>
    </div>

</div>

















</div>


<div class="build-wallpaper"></div>