{{!-- For complete references, see Read Me (github) from the front page. --}}

{{!-- https://www.w3schools.com/html/html_iframe.asp --}}
{{!-- https://getbootstrap.com/docs/4.0/utilities/embed/ --}}

<div class="build-wallpaper">
	<div class="container" >
		<div class="video-div">
			<iframe width="800" height="600" src="https://www.youtube.com/embed/LAlRjPYjI6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<br>
		<div class="video-div">
			<iframe width="800" height="600" src="https://www.youtube.com/embed/30K0SkT0T7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>


<div id="footbar" class="footer">
	
	<button class="buttons">
		<a href="/img/fruit1.png" download>download(1)</a>
		<img src='/img/fruit1.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="img/fruit2.png" download>download(2)</a>
		<img src='/img/fruit2.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="img/fruit3.png" download>download(3)</a>
		<img src='/img/fruit3.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="img/fruit4.png" download>download(4)</a>
		<img src='/img/fruit4.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit5.png" download>download(5)</a>
		<img src='/img/fruit5.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit6.png" download>download(6)</a>
		<img src='/img/fruit6.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit7.png" download>download(7)</a>
		<img src='/img/fruit7.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit8.png" download>download(8)</a>
		<img src='/img/fruit8.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit9.png" download>download(9)</a>
		<img src='/img/fruit9.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit10.png" download>download(10)</a>
		<img src='/img/fruit10.png' width="30" height="30">
	</button>

	<button class="buttons">
		<a href="/img/fruit11.png" download>download(11)</a>
		<img src='/img/fruit11.png' width="30" height="30">
	</button>
</div>