/*https://www.w3schools.com/cssref/pr_background-attachment.asp*/

/* set general background image for all pages, if not specified */
/*body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('/img/bg2.jpg');
}
*/
div.home-wallpaper {

  height: 100%;
  background-image:url('/img/bg2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* overwrites the default background with more specific background */
div.ladder-wallpaper {
  width: auto;
  height: 1000px;
  background-image:url('/img/image9.png');
}

div.blog-wallpaper {
  width: auto;
  height: 1000px;
  background-image:url('/img/image1.jpg');
}

div.contact-wallpaper {
  width: auto;
  height: 1000px;
  background-image:url('/img/image9.jpg');
}

div.build-wallpaper {
/*  width: auto;
  height: 900px;*/
  background-image:url('/img/bg3.jpg');

  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.no-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

/* footer bar for the download buttons in the media page */
.footer {
  background-color: black;
  border: 1px solid #bfbfbf;
  position: fixed;
  height: 38px;
  bottom: 0;
  left: 0;
  right: 0;
}

#footbar{
  text-align: center;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */
/* https://www.w3schools.com/howto/howto_css_round_buttons.asp */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:hover */

/* styling and effects for buttons */
.buttons {
  /*border: 1px solid rgb(252, 198, 3) */
  background-color: #343A40;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 2px;
  padding: 10px 10px;
}

.buttons:hover{
  background-color: #bfbfbf;
  color: #0d0d0d;
}

.download-buttons {
  background-color: #0d0d0d;
  border-radius: 5px;
  color: #bfbfbf;
}

.download-buttons:hover{
  background-color: #bfbfbf;
  color: #0d0d0d;
}


/* styling for links' color, and hover effects */
a {
  color: #bfbfbf;
}

a:hover {
  color: #bfbfbf;
  text-decoration: underline;
}

.specialLink {
  color: #bfbfbf;
}

.specialLink:hover {
  color: #bfbfbf;
  text-decoration: underline;
}

.sources {
  color: #bfbfbf;
  left: 25%;
  right: 25%;
  width: 50%;
  position: absolute;
  /* border: 1px solid rgb(252, 198, 3); */
  text-align: center;
}

.center-div {
  width: 100%;
  text-align: center;
}

#time-line-header{
  color: #bfbfbf;
  margin-top: 15px;
}

/* below are sizing and position for divs that hold other elements from the site */
.time-line-div {
  border: 1px solid #bfbfbf;
  margin-top: 3%;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 65%;
  top: 150px;
  overflow-y: scroll;
  position: absolute;
  background-color: #0d0d0d;
  color: #bfbfbf;
}

.home_buttons {
  color: #bfbfbf;
  /*border: 1px solid rgb(252, 198, 3); */
  background-color: transparent;
  top: 100px;
  position: absolute;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 250px;
  text-align: center;
}

.home_jumbotron {
  color: white;
  /*border: 1px solid red; */
  background-color: transparent;
  top: 200px;
  position: absolute;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 300px;
  text-align: center;
  
  border-radius: 6px;
  font-family: 'Montserrat', serif;
}


.home_jumbotron_text {
  position: relative;
  padding: 30px 0px 0px 0px;
  font-size: 76px;
}

.home_jumbotron_text1 {
  position: relative;
  font-size: 46px;
}




.sources:hover {
  color: #bfbfbf;
  text-decoration: underline;
}

.ladderbox {
  /* border: 1px solid rgb(252, 198, 3); */
  left: 25%;
  right: 25;
  width: 50%;
  height: 500px;
  top:15%;
  position: fixed;
}

/* div container that holds the ranking table in the ladder page */
.scrollbox {
  overflow: scroll;
  position: absolute;
  left: 26%;
  right: 26;
  width: 47%;
  height: 700px;
  border: 1px solid #bfbfbf;
}

.linkbox {
  position: fixed;
  top: 95%;
  left: 47%;
  width: 100px;
  height: 30px;
  text-align: center;
}

.ladder-header {
  position: fixed;
  top: 10%;
  left: 38%;
  color: white;
  background-color: #0d0d0d;
  color: #bfbfbf;
  /* border: 1px solid rgb(252, 198, 3); */
}

/* https://love2dev.com/blog/customize-bulleted-list/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-image */

/* changing the default bullet image that comes with li tags to a custom sword image */
li.sword { 
  list-style-image: url('/img/W_Sword006.png'); 
  margin-left: 75px;
}

/* https://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li */
li span {
  position: relative;
  left: -20px;
  top: -12px;
}

/* positioning the unordered HTML list items */
.entries {
  /* border: 1px solid rgb(252, 198, 3); */
  margin-top: 40px;
  width: 90%;
  margin-bottom: 40px;
  left:3%;
  position: relative;
}

/* this div holds the link buttons in the bottom of the front page */
/* the div is made centered to allow the links to be in the center */
.home-div {
  color: #bfbfbf;
  /* border: 1px solid rgb(252, 198, 3); */
  background-color:transparent;
  top: 800px;
  position: absolute;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 250px;
  text-align: center;
}

/* positions the div that holds the github link/image in the contact us page */
.contact-div {
  position: absolute;
  /* border: 1px solid rgb(252, 198, 3); */
  left: 50%;
  right: 5%;
  width: 5%;
  top: 90%;
}

/* positioning and slight styling of the jumbotron in the front page */
.jumbotron {
	color: #bfbfbf;
  background-color:transparent;
  margin-bottom: 5px;
  left: 30%;
  right: 30%;
  width: 40%;
  position: absolute;
}

.jumbotron h1{
	font-size: 60px;
}

.jumbotron p{
	font-size: 25px;
}

/* set the size of the images inside the picture carousel */
.carousel-inner img {
  width: 100%;
  height: 750px;
}

/* position the picture carousel to be in the center of the page */
.carousel-container {
  top: 20%;
  position: absolute;
  left: 20%;
  right: 20%;
  width: 60%;
}

/* position the div that holds the 'leave a comment' form in the contact us page */
.myForms {
  color: #bfbfbf;
  /* border: 1px solid rgb(252, 198, 3); */
  position: absolute;
  left: 20%;
  top: 40%;
  width: 20%;
}

/* position the div that holds the 'subscribe' form in the contact us page */
.scribe-form{
  color: #bfbfbf;
  /* border: 1px solid rgb(252, 198, 3); */
  position: absolute;
  left: 65%;
  top: 45%;
  width: 20%;
  text-align: center;
}

/* position the div that holds the subscriber table in the contact us page */
#subscribers-box {
  border: 1px solid #bfbfbf;
  position: absolute;
  left: 85%;
  right: 10%;
  top: 15%;
  width: 13%;
  height: 500px;
}

/* adds alternating color for each row in the table from the ladder page */
.addColor tr:nth-of-type(2n+1){
  background-color: #1a1a1a;
  text-align: center;
}

.addColor tr:nth-of-type(2n){
  background-color: #0d0d0d;
  text-align: center;
}

.ladderText{
  background-color: #0d0d0d;
  text-align: center;
  color: #bfbfbf;
}

/* positions the div that hold the YouTube videos to be in the center */
.video-div {
  left: 20%;
  right: 20%;
  width: 60;
  margin-top: 50px;
  /* border: 1px solid rgb(252, 198, 3); */
  text-align: center;
}